<div class="container">
    <div class="col-md-8">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" email required ngModel >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required ngModel maxlength="8" #pass="ngModel">
                <!-- {{pass.touched | json}} -->
                <div class="helper-block" *ngIf="pass.touched && (pass.value.length == 0 || pass.value.length < 8)">Password must be 8 characters</div>
            </div>
            <div class="helper-div">
                <h4>Don't you have an Account ?  <a routerLink="../register">Register here </a></h4>
            </div>
            <button [disabled]="!f.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>